<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.SolutionDir)\Include.wxi ?>
  <Fragment>
    <DirectoryRef Id="luatoolsdir">
      <Component Id="fetchluarocks" Guid="DE8C6E4D-0647-43D9-A185-7D7495DF9DBF" Win64="$(var.Win64)">
        <File Id="fetch_luarocks.lua" Source ="tools\fetch-luarocks.lua" KeyPath="yes" Checksum="yes" />
        <File Id="run_fetch.bat" Source ="tools\run-fetch.bat" KeyPath="no" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="adjustpathdir">
      <Component Id="adjustpath" Guid="70BB9075-6136-4287-AD38-B83E526D8EEB" Win64="$(var.Win64)" KeyPath="yes">
        <File Id="init.lua" Source ="tools\adjust-path\init.lua" Checksum="yes" />
        <File Id="choices.lua" Source ="tools\adjust-path\choices.lua" Checksum="yes" />
        <File Id="commands.lua" Source ="tools\adjust-path\commands.lua" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="luabindir">
      <Component Id="Product_License.rtf" Guid="5D023B5B-2992-4434-A0C3-C30BDA50EB94" Win64="$(var.Win64)">
        <File Id="Product_License.rtf" Source="Product-License.rtf" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lua.exe" Guid="4FB97204-28E5-44B4-A625-C2A2F015AFDE" Win64="$(var.Win64)">
        <File Id="lua.exe" Source="$(var.Lua-Interpreter.TargetDir)\$(var.Lua-Interpreter.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="luac.exe" Guid="08B17CD8-1AED-4FB5-9DF8-BBA58ACFA683" Win64="$(var.Win64)">
        <File Id="luac.exe" Source="$(var.Lua-Compiler.TargetDir)\$(var.Lua-Compiler.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!--luaxx.dll e.g. lua53.dll-->
      <Component Id="$(var.Lua-Library.TargetFileName)" Guid="13E07FD3-55D6-4AE4-B590-66325FEA33AE" Win64="$(var.Win64)">
        <File Id="$(var.Lua-Library.TargetFileName)" Source="$(var.Lua-Library.TargetDir)\$(var.Lua-Library.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!--luaxx.lib for linking against the dll-->
      <Component Id="$(var.Lua-Library.TargetName).lib" Guid="13E07FD3-55D6-4AE4-B590-66325FEA37F5" Win64="$(var.Win64)">
        <File Id="$(var.Lua-Library.TargetName).lib" Source="$(var.Lua-Library.TargetDir)\$(var.Lua-Library.TargetName).lib" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lfs.dll" Guid="7A644C60-7B88-4C76-AE3A-14537A5FECD8" Win64="$(var.Win64)">
        <File Id="lfs.dll" Source="$(var.LuaFileSystem.TargetDir)\$(var.LuaFileSystem.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="set_path" Guid="AAE704CE-93BB-4D56-B855-C1F441DE3365" Win64="$(var.Win64)" KeyPath="yes">
        <CreateFolder/>
        <Environment Id="PATH" Name="PATH" Value="[luabindir]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="luastaticdir">
      <Component Id="static_$(var.Lua-Static-Library.TargetFileName)" Guid="E0D20305-C285-489E-A20E-1FF8EC1A56A3" Win64="$(var.Win64)">
        <File Id="static_$(var.Lua-Static-Library.TargetFileName)" Source="$(var.Lua-Static-Library.TargetDir)\$(var.Lua-Static-Library.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="luaincludedir">
      <Component Id="lua.h_h" Guid="96CD3F2F-CF2F-4B7D-8581-4065E8DC4F2D">
        <File Id="lua.h_h" Source="$(var.LuaSources)\lua.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lualib.h_h" Guid="D5073C5B-DEFA-4C0E-93A2-11B9DD1B94F2">
        <File Id="lualib.h_h" Source="$(var.LuaSources)\lualib.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lauxlib.h_h" Guid="83D79C50-82E5-4A5F-9F82-51DDCDD03F5A">
        <File Id="lauxlib.h_h" Source="$(var.LuaSources)\lauxlib.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="luaconf.h_h" Guid="9D545094-B1F9-48A6-9DD3-9ECCA77A3F37">
        <File Id="luaconf.h_h" Source="$(var.LuaSources)\luaconf.h" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut_$(var.Platform)" Guid="BEDBF7EB-AE81-49CD-B84B-7673CDC7CE69">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="$(var.ProductName)"
                  Target="[#lua.exe]"
                  WorkingDirectory="luabindir">
        </Shortcut>
        <RemoveFolder Id="CleanUpShortCut_$(var.Platform)" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\WinLua\$(var.ProdName)-$(var.LuaVersion)-$(var.PlatName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
