<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- This installer is designed to create side by side installations of PUC-Lua based on major/minor releases (i.e. 5.3->5.4 or 5.3->6)
As well as side by side 32/64 bit installations. God help us all.-->


  <?include $(var.SolutionDir)\Include.wxi ?>

  <Product Id="*"
         Name="$(var.ProdName) $(var.LuaVersion) $(var.PlatName) Bit"
         Language="1033"
         Version="$(var.LuaVersion).$(var.LuaPatch)"
         UpgradeCode="$(var.LuaVersionCode)"
         Manufacturer="$(var.ProjectName)">
    <Package Description="Lua is a powerful, efficient, lightweight, embeddable scripting language.
             It supports procedural programming, object-oriented programming, functional programming,
             data-driven programming, and data description."
             Comments="Comments"
             InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Lua is already installed." />

    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
    <WixVariable Id="WixUILicenseRtf" Value="Product-License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="images/Lua-Banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="images/WinLua-Installer-Panel-gray.png" />
    <Icon Id="icon.ico" SourceFile="images/Lua-Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)" Name="$(var.ProjectName)">
        <Directory Id="INSTALLDIR" Name="$(var.ProjectName)">
        <Directory Id="luabasedir" Name="$(var.ProdName)">
          <Directory Id="luaversiondir" Name="$(var.LuaVersion)">
            <Directory Id="luabindir" Name="bin"/>
            <Directory Id="luastaticdir" Name="staticlib"/>
            <Directory Id="luaincludedir" Name="include"/>
          </Directory>
        </Directory>
        </Directory>        
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProjectName)"/>
      </Directory>
    </Directory>

    <Feature Id="BASE_INSTALL" Title="$(var.ProdName)" Description="$(var.ProdName)" Level="1">
      <Feature Id="Include" Title="Lua Header Files" Level="1">
        <ComponentRef Id="lua.h_h"/>
        <ComponentRef Id="lualib.h_h"/>
        <ComponentRef Id="lauxlib.h_h"/>
        <ComponentRef Id="luaconf.h_h"/>
      </Feature>

      <Feature Id="Binary" Title="Lua Binary Files" Level="1">
        <ComponentRef Id="lua.exe"/>
        <ComponentRef Id="$(var.Lua-Library.TargetFileName)"/>
        <ComponentRef Id="lfs.dll"/>
        <ComponentRef Id="$(var.Lua-Library.TargetName).lib"/>
        <ComponentRef Id="static_$(var.Lua-Static-Library.TargetFileName)"/>
        <ComponentRef Id="Product_License.rtf"/>
        <!--TODO: add ref to README about different lib files?-->
        <!--<ComponentRef Id="static_lua53.lib"/>-->
        <ComponentRef Id="luac.exe"/>
        <ComponentRef Id="set_path"/>
        <ComponentRef Id="ApplicationShortcut_$(var.Platform)"/>
      </Feature>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <UIRef Id="WixUI_InstallDir"/>
  </Product>

  <Fragment>


    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <ComponentRef Id="lua.exe"/>
      <ComponentRef Id="$(var.Lua-Library.TargetFileName)"/>
      <ComponentRef Id="$(var.Lua-Library.TargetName).lib"/>
      <!--TODO: add ref to README about different lib files?-->
      <!--<ComponentRef Id="static_lua53.lib"/>-->
      <ComponentRef Id="luac.exe"/>
      <ComponentRef Id="set_path"/>
      <ComponentRef Id="ApplicationShortcut_$(var.Platform)"/>
    </ComponentGroup>
  </Fragment>
</Wix>
