<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Include.wxi ?>
  <Fragment>
    
    <DirectoryRef Id="luabindir">
      <Component Id="Product_License.rtf" Guid="5d023b5b-2992-4434-a0c3-c30bda50eb94" Win64="$(var.Win64)">
        <File Id="Product_License.rtf" Source="Product-License.rtf" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lua.exe" Guid="4fb97204-28e5-44b4-a625-c2a2f015afde" Win64="$(var.Win64)">
        <File Id="lua.exe" Source="$(var.Lua-Interpreter.TargetDir)\$(var.Lua-Interpreter.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="luac.exe" Guid="08b17cd8-1aed-4fb5-9df8-bba58acfa683" Win64="$(var.Win64)">
        <File Id="luac.exe" Source="$(var.Lua-Compiler.TargetDir)\$(var.Lua-Compiler.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!--luaxx.dll e.g. lua53.dll-->
      <Component Id="$(var.Lua-Library.TargetFileName)" Guid="13e07fd3-55d6-4ae4-b590-66325fea33ae" Win64="$(var.Win64)">
        <File Id="$(var.Lua-Library.TargetFileName)" Source="$(var.Lua-Library.TargetDir)\$(var.Lua-Library.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <!--luaxx.lib for linking against the dll-->
      <Component Id="$(var.Lua-Library.TargetName).lib" Guid="13e07fd3-55d6-4ae4-b590-66325fea37f5" Win64="$(var.Win64)">
        <File Id="$(var.Lua-Library.TargetName).lib" Source="$(var.Lua-Library.TargetDir)\$(var.Lua-Library.TargetName).lib" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lfs.dll" Guid="7a644c60-7b88-4c76-ae3a-14537a5fecd8" Win64="$(var.Win64)">
        <File Id="lfs.dll" Source="$(var.LuaFileSystem.TargetDir)\$(var.LuaFileSystem.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="set_path" Guid="aae704ce-93bb-4d56-b855-c1f441de3365" Win64="$(var.Win64)">
        <CreateFolder/>
        <Environment Id="PATH" Name="PATH" Value="[luabindir]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="luastaticdir">
      <Component Id="static_$(var.Lua-Static-Library.TargetFileName)" Guid="e0d20305-c285-489e-a20e-1ff8ec1a56a3" Win64="$(var.Win64)">
        <File Id="static_$(var.Lua-Static-Library.TargetFileName)" Source="$(var.Lua-Static-Library.TargetDir)\$(var.Lua-Static-Library.TargetFileName)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="luaincludedir">
      <Component Id="lua.h_h" Guid="96cd3f2f-cf2f-4b7d-8581-4065e8dc4f2d">
        <File Id="lua.h_h" Source="$(var.LuaSources)\lua.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lualib.h_h" Guid="d5073c5b-defa-4c0e-93a2-11b9dd1b94f2">
        <File Id="lualib.h_h" Source="$(var.LuaSources)\lualib.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="lauxlib.h_h" Guid="83d79c50-82e5-4a5f-9f82-51ddcdd03f5a">
        <File Id="lauxlib.h_h" Source="$(var.LuaSources)\lauxlib.h" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="luaconf.h_h" Guid="9d545094-b1f9-48a6-9dd3-9ecca77a3f37">
        <File Id="luaconf.h_h" Source="$(var.LuaSources)\luaconf.h" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut_$(var.Platform)" Guid="bedbf7eb-ae81-49cd-b84b-7673cdc7ce69">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="$(var.ProductName)"
                  Target="[#lua.exe]"
                  WorkingDirectory="luabindir">
        </Shortcut>
        <RemoveFolder Id="CleanUpShortCut_$(var.Platform)" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProdName)-$(var.LuaVersion)-$(var.PlatName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
