<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.SolutionDir)\Include.wxi ?>
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <!--<?define SourceDir="..\..\Deploy\x86"?>-->
  <!--<?define SourceDir="..\..\Deploy\$(var.Platform)"?>-->
  <?define SourceDir="C:\Winlua-Deploy\2011c\x86\Lua"?>
  <?define SourceDir="C:\WinLua-Deploy\$(var.InstallerVersion)\$(var.Platform)\Lua"?>
  
  <?define LUA_VER="5.4"?>
  <Module Id="WinLua" Language="1033" Version="5.4.1.0">
    <Package Id="a761143b-0d5b-448d-b624-54c2e27f43ee" Manufacturer="WinLua" InstallerVersion="301" Keywords="Lua" Description="WinLua is a binary distribution of the Lua, luafilesystem, and sol2." />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="lua54" Name="$(var.LUA_VER)">
          <Directory Id="lua54bindir" Name="bin">
            <Component Id="l548891522954bdbbd0696173f23d811" Guid="ebd1c801-1fe0-a24c-e706-65e0a2ac8f74">
              <File Id="l548891522954bdbbd0696173f23d811" Source="$(var.SourceDir)\5.4\bin\lua54.exe" KeyPath="yes">
                <Shortcut Id="scBE87F9AE76F6BF2449AEE0259D5445BB" Name="Lua $(var.LUA_VER) $(var.PlatName) Bit Interpreter" Directory="scdC6281A678886E0381809F3F89C5DACBD" />
              </File>
            </Component>
            <Component Id="l5487F5236CFA55B1784AB133C1A856143D" Guid="7de850c4-42fe-04e6-acc3-25a6d0d9d824">
              <File Id="l5487F5236CFA55B1784AB133C1A856143D" Source="$(var.SourceDir)\5.4\bin\lua54.dll" KeyPath="yes" />
            </Component>
            <Component Id="l543240D155CF91D340A40BFBAE3B3478B3" Guid="31154821-3de5-1da8-346a-ea29850e0a3c">
              <File Id="l543240D155CF91D340A40BFBAE3B3478B3" Source="$(var.SourceDir)\5.4\bin\lua54.lib" KeyPath="yes" />
            </Component>
            <Component Id="l549F701B58CBEF23512225C4451BC0A9AE" Guid="527b51ef-2d3c-8859-a0d7-71e151a2b838">
              <File Id="l549F701B58CBEF23512225C4451BC0A9AE" Source="$(var.SourceDir)\5.4\bin\luac54.exe" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="l54703030468B2651C909C217A57695C42D" Name="include">
            <Component Id="l54E558F34C37B84795220686D7CDD169D6" Guid="b5f95017-e55e-46ed-e0eb-2226c2dfe4e7">
              <File Id="l54E558F34C37B84795220686D7CDD169D6" Source="$(var.SourceDir)\5.4\include\lauxlib.h" KeyPath="yes" />
            </Component>
            <Component Id="l546FA75681BAD0DB2BDB7BB5ECE981254D" Guid="26ac4b92-39f9-8d37-c24b-640c77d1bf7f">
              <File Id="l546FA75681BAD0DB2BDB7BB5ECE981254D" Source="$(var.SourceDir)\5.4\include\lua.h" KeyPath="yes" />
            </Component>
            <Component Id="l549E96584D297CFB4AC06A24B6ECC0C4A2" Guid="7d8f2520-0657-4f9f-5c3c-9534fdec311e">
              <File Id="l549E96584D297CFB4AC06A24B6ECC0C4A2" Source="$(var.SourceDir)\5.4\include\lua.hpp" KeyPath="yes" />
            </Component>
            <Component Id="l540FB86D6DA1D842589391EC5B32513EDB" Guid="95b9f587-c253-595c-f0d9-7bbef5f5bc5f">
              <File Id="l540FB86D6DA1D842589391EC5B32513EDB" Source="$(var.SourceDir)\5.4\include\luaconf.h" KeyPath="yes" />
            </Component>
            <Component Id="l54752E9A871A319367E4A368D0760DD1BF" Guid="ff94f8bc-c7af-2e20-97cb-83aa2f8bb027">
              <File Id="l54752E9A871A319367E4A368D0760DD1BF" Source="$(var.SourceDir)\5.4\include\lualib.h" KeyPath="yes" />
            </Component>
            <Component Id="l54DF6B35B3F2E6B91CE871EC82E65D6923" Guid="b5edd914-889d-f061-ab57-d1d6c3e734cc">
              <File Id="l54DF6B35B3F2E6B91CE871EC82E65D6923" Source="$(var.SourceDir)\5.4\include\sol.hpp" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="l5416643BE9CBAEF26E96EDBB6FB712EE5D" Name="lib">
            <Component Id="l54F852E848F46BDCAAFDABF5D75558AA21" Guid="6365148d-c70b-f0b4-9bcf-9710acd72ee2">
              <File Id="l54F852E848F46BDCAAFDABF5D75558AA21" Source="$(var.SourceDir)\5.4\lib\liblua.a" KeyPath="yes" />
            </Component>
            <Directory Id="owdBBBBD0522A5E34118B960A016B3CCBE4" Name="lua">
              <Directory Id="owd58578D19BDACEDF677EC77D89F11A33A" Name="5.4">
                <Component Id="owc0BB00BBE7912FBAE2BC7D9E9875089C6" Guid="30f3a699-d1c1-de78-afb0-95c778479d1e">
                  <File Id="owf0BB00BBE7912FBAE2BC7D9E9875089C6" Source="$(var.SourceDir)\5.4\lib\lua\5.4\lfs.dll" KeyPath="yes" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="scdC6281A678886E0381809F3F89C5DACBD" Name="WinLua"></Directory>
      </Directory>
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>