<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include $(var.SolutionDir)\Include.wxi ?>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="WinLua">
            <Directory Id="LUA_INSTALLLOCATION" Name="Lua">
              <Merge Id="WinLua53MM" SourceFile="$(var.WinLua53MM.TargetPath)" DiskId="1" Language="1033" />
              <Merge Id="WinLua54MM" SourceFile="$(var.WinLua54MM.TargetPath)" DiskId="1" Language="1033" />
            </Directory>
          <Directory Id="LUAROCKS_INSTALLLOCATION" Name="LuaRocks">
            <Merge Id="LuaRocksMM" SourceFile="$(var.LuaRocksMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="LLVMMINGW_INSTALLLOCATION" Name="WLC">
            <Merge Id="llvm-mingwMM" SourceFile="$(var.llvm-mingwMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="LIBRESSL_INSTALLLOCATION" Name="LibreSSL">
            <Merge Id="LibreSSL_MM" SourceFile="$(var.LibreSSL_MM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="XMAKE_INSTALLLOCATION" Name="XMake">
            <Merge Id="XMakeMM" SourceFile="$(var.XMakeMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="WinLua53" Title="Lua 5.3" Description="Base installation of Lua Interpreter, DLLs, LuaFileSystem and the Sol 3 C++ bindings" Level="1" AllowAdvertise="no" ConfigurableDirectory="LUA_INSTALLLOCATION">
      <MergeRef Id="WinLua53MM" />
    </Feature>
    <Feature Id="WinLua54" Title="Lua 5.4" Description="Base installation of Lua Interpreter, DLLs, LuaFileSystem and the Sol 3 C++ bindings" Level="1" AllowAdvertise="no" ConfigurableDirectory="LUA_INSTALLLOCATION">
      <MergeRef Id="WinLua54MM" />
    </Feature>
    <Feature Id="LuaRocks" Title="LuaRocks" Description="Package Manager and build system for Lua."  Level="1" AllowAdvertise="no" ConfigurableDirectory="LUAROCKS_INSTALLLOCATION">
      <MergeRef Id="LuaRocksMM" />
    </Feature>
    <Feature Id="LLVM_MinGW" Title="WinLua Compiler (WLC)" Description="The WinLua Compiler is a  C Toolchain based on LLVM-MinGW from Martin Storsjo. No Visual Studio required to build C modules (LuaRocks etc)."  Level="1" AllowAdvertise="no" ConfigurableDirectory="LLVMMINGW_INSTALLLOCATION">
      <MergeRef Id="llvm-mingwMM" />
    </Feature>
    <Feature Id="XMake" Title="XMake Build System" Description="Lightning fast build system based on Lua."  ConfigurableDirectory="XMAKE_INSTALLLOCATION" Level="1" AllowAdvertise="no">
      <MergeRef Id="XMakeMM" />
    </Feature>
    <Feature Id="LibreSSL" Title="LibreSSL" Description="OpenBSD fork of the OpenSSL Encryption Library"  Level="1" AllowAdvertise="no" ConfigurableDirectory="LIBRESSL_INSTALLLOCATION">
      <MergeRef Id="LibreSSL_MM" />
    </Feature>
  </Fragment>
</Wix>