<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?include $(var.SolutionDir)\Include.wxi ?>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="CompanyFolder" Name="WinLua">
          <Directory Id="LUA_INSTALLLOCATION" Name="Lua">
            <Merge Id="WinLua53MM" SourceFile="$(var.WinLua53MM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="LUAROCKS_INSTALLLOCATION" Name="LuaRocks">
            <Merge Id="LuaRocksMM" SourceFile="$(var.LuaRocksMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="LLVMMINGW_INSTALLLOCATION" Name="LLVM-MinGW">
            <Merge Id="llvm-mingwMM" SourceFile="$(var.llvm-mingwMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="LIBRESSL_INSTALLLOCATION" Name="LibreSSL">
            <Merge Id="LibreSSL_MM" SourceFile="$(var.LibreSSL_MM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
          <Directory Id="JAMPLUS_INSTALLLOCATION" Name="JamPlus">
            <Merge Id="JamPlusMM" SourceFile="$(var.JamPlusMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="WinLua" Title="WinLua 5.3" Description="Base installation of Lua Interpreter, DLLs, LuaFileSystem and Sol2" Level="1" AllowAdvertise="no" ConfigurableDirectory="LUA_INSTALLLOCATION">
      <MergeRef Id="WinLua53MM" />
    </Feature>
    <Feature Id="LuaRocks" Title="LuaRocks" Description="Package Manager and build system for Lua."  Level="1" AllowAdvertise="no" ConfigurableDirectory="LUAROCKS_INSTALLLOCATION">
      <MergeRef Id="LuaRocksMM" />
    </Feature>
    <Feature Id="LLVM_MinGW" Title="LLVM-MinGW" Description="LLVM-MinGW C Toolchain. No Visual Studio required to build C modules (LuaRocks etc)."  Level="1" AllowAdvertise="no" ConfigurableDirectory="LLVMMINGW_INSTALLLOCATION">
      <MergeRef Id="llvm-mingwMM" />
    </Feature>
    <Feature Id="JamPlus" Title="JamPlus Build System" Description="JamPlus Build System. Allows you to build C/C++ and Lua from the command line. 100% cross platform."  ConfigurableDirectory="JAMPLUS_INSTALLLOCATION" Level="1" AllowAdvertise="no">
      <MergeRef Id="JamPlusMM" />
    </Feature>
    <Feature Id="LibreSSL" Title="LibreSSL" Description="OpenBSD fork of the OpenSSL Encryption Library"  Level="1" AllowAdvertise="no" ConfigurableDirectory="LIBRESSL_INSTALLLOCATION">
      <MergeRef Id="LibreSSL_MM" />
    </Feature>
  </Fragment>
</Wix>