<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- 
  MSIProductVersion is defined in WinLua_Installer.wixproj as 0.0.1 for local desktop builds.  
  You should pass in the MSBuild Property 'MSIProductVersion' to override it during an automated build.
  See http://msdn.microsoft.com/en-us/library/windows/desktop/aa370859%28v=vs.85%29.aspx for information on allowable values.
  
  The Product@Id attribute (ProductCode Property) will be a random GUID for each build.  This is to support "Major Upgrades" where each install 
  is a seamless uninstall/reinstall.
  -->
  <!--<Product Id="*" Name="WinLua" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="WinLua" UpgradeCode="5849f6bd-16b5-4b7a-9053-1c95ab8b60bf">-->
  <?include $(var.SolutionDir)\Include.wxi ?>
  
  <Product Id="C12E9534-6ACB-4E08-8D9A-FC74F2B74319" Name="WinLua Toolchain - $(var.PlatName) Bit" 
      Language="1033" 
      Version="3.20.12.1"
      Manufacturer="WinLua Project" 
    UpgradeCode="5849f6bd-16b5-4b7a-9053-1c95ab8b60bf">
    <Package InstallerVersion="301" Compressed="yes" InstallPrivileges="elevated" AdminImage="yes" InstallScope="perMachine" 
             Description="WinLua Installer package" Manufacturer="WinLua" />
    <MediaTemplate EmbedCab="yes" />
    <!-- Major Upgrade Rule to disallow downgrades -->
    <MajorUpgrade AllowDowngrades="yes" AllowSameVersionUpgrades="no" />
    <Upgrade Id="5849f6bd-16b5-4b7a-9053-1c95ab8b60bf"></Upgrade>
    <!--Common Launch Condition-->
    <!-- Examples at http://wixtoolset.org/documentation/manual/v3/customactions/wixnetfxextension.html -->
    <!--<PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="[ProductName] requires .NET Framework 4.0.">Installed OR NETFRAMEWORK40FULL</Condition>-->
    <!-- Include User Interface Experience -->
    <Icon Id="Icon.ico" SourceFile="Resources\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    
    <UIRef Id="UI" />
    <!-- Include Features and Directories Fragment -->
    <DirectoryRef Id="LUA_INSTALLLOCATION" />
    <DirectoryRef Id="LUAROCKS_INSTALLLOCATION" />
    <DirectoryRef Id="LIBRESSL_INSTALLLOCATION" />
    <DirectoryRef Id="XMAKE_INSTALLLOCATION" />
    <DirectoryRef Id="LLVMMINGW_INSTALLLOCATION" />
    
    <!--Properties for the LuaRocks configuraiton file that we generate with Configure.LuaRocks custom Action-->
    <SetProperty Id="LuaVersion" Value="$(var.LuaVersion)" After="InstallValidate" Sequence="execute" />   
    <SetProperty Id="LuaRootPath" Value="[LUA_INSTALLLOCATION]" After="InstallValidate" Sequence="execute" />
    
    <!--Only set this property if Luarocks is being installed or uninstalled-->
    <SetProperty Id="LuaRocksRootPath" Value="[LUAROCKS_INSTALLLOCATION]" After="InstallValidate" Sequence="execute">
      <!--<![CDATA[Installed OR ((&LuaRocks=3) AND NOT(!LuaRocks=3)) OR ((&LuaRocks=2) AND (!LuaRocks=3))]]>-->
    </SetProperty>
    
    <!--Set this property if the WLC is being added or removed-->
    <SetProperty Id="ToolsPath" Value="[LLVMMINGW_INSTALLLOCATION]" After="InstallValidate" Sequence="execute">
      <!--<![CDATA[Installed OR ((&LLVM_MinGW=3) AND NOT(!LLVM_MinGW=3)) OR ((&LLVM_MinGW=2) AND (!LLVM_MinGW=3))]]>-->
    </SetProperty>
    <SetProperty Id="Configure.LuaRocks" Value="LuaVersion=[LuaVersion];LuaRocksRootPath=[LuaRocksRootPath];LuaRootPath=[LuaRootPath];ToolsPath=[ToolsPath]" Before="Configure.LuaRocks" Sequence="execute" />
    <!--<SetProperty Id="Remove.ConfigAndRocktree.LuaRocks" Value="LuaVersion=[LuaVersion];LuaRocksRootPath=[LuaRocksRootPath];LuaRootPath=[LuaRootPath];ToolsPath=[ToolsPath]" Before="Remove.ConfigAndRocktree.LuaRocks" Sequence="execute" />-->
    <SetProperty Id="Remove.WinLua" Value="WinLuaPath=[CompanyFolder]" Before="Remove.WinLua" Sequence="execute" />

    <!--<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Remove LuaRocks Options"  />-->
    
    <!-- The deferred custom action -->
    <Binary Id='WinLua.Installer.CustomAction' SourceFile='..\Winlua.Installer.CustomAction\bin\$(var.Configuration)\Winlua.Installer.CustomAction.CA.dll'/>
    <CustomAction Id="Configure.LuaRocks" BinaryKey="WinLua.Installer.CustomAction" DllEntry="ConfigureLuaRocks" Impersonate="no" Execute="deferred" Return="check" />
    <!--<CustomAction Id="Remove.ConfigAndRocktree.LuaRocks"  BinaryKey="WinLua.Installer.CustomAction" DllEntry="RemoveLuaRocksConfig" Impersonate="no" Execute="deferred" Return="check" />-->
    <CustomAction Id="Remove.WinLua"  BinaryKey="WinLua.Installer.CustomAction" DllEntry="RemoveWinLuaDir" Impersonate="no" Execute="deferred" Return="check" />
      <!-- Schedule the deferred custom action between InstallInitialize and InstallFinalize -->
      <InstallExecuteSequence>
        <!-- Only run this when the LuaRocks feature is installed-->
        <Custom Action="Configure.LuaRocks" Before="InstallFinalize">
          <![CDATA[(&LuaRocks=3)]]>
        </Custom>        
        <!--Option to Luarocks configuration file and Rocktree-->
        <!--<Custom Action="Remove.ConfigAndRocktree.LuaRocks" Before="InstallFinalize">-->
        <Custom Action="Remove.WinLua" Before="InstallFinalize">
          <!--<![CDATA[REMOVE and (WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1)]]>-->
          <![CDATA[REMOVE~="ALL"]]>
        </Custom>
    </InstallExecuteSequence>
    
  </Product>
    
</Wix>